body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: #1f1f1f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.h-card{
  margin: 20px;
  box-shadow: 0px 8px 10px 0px #dcdcdc;
  background-color: #cfcfcf;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  font-size: 2rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  line-height: normal;
}
.project-0{
  background-color: #b1d8d8;
}
.project-1{
  background-color: #d5abc8;
}
.project-2{
  background-color: #c8bbdd;
}
.project-3{
  background-color: #f0b0b8;
}
.page-1{
  background-color: #a2a2a2;
}
.page-2{
  background-color: #838383;
}
a{
  color: #1f1f1f;
}
a:hover{
  color: #1f1f1f;
  cursor: pointer;
  text-decoration: none;
  color: white;
}
.nav-link{
  padding: 0 1rem;
  color:#1f1f1f;
}
.nav-link:hover{
  font-weight: bold;
}
.title-div{
  text-align: center;
}
.hero-main{
  font-size: 3rem;
  font-weight: 700;
}
.hero-second{
  font-size: 2rem;
  font-weight: 300;
}
@media screen and (min-width: 487px) {
  .section-title{
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
  }
  .hero-main{
    font-size: 4rem;
    font-weight: 700;
  }
  .hero-second{
    font-size: 1.5rem;
    font-weight: 300;
  }
}
@media screen and (min-width: 768px) {
  .hero-main{
    font-size: 6rem;
    font-weight: 700;
  }
  .hero-second{
    font-size: 3rem;
    font-weight: 300;
  }
}
.jumbotron-projects{
  height: 100vh;
  display: flex;
  padding: 0;
  margin-bottom: 0;
}
.jumbo-content{
  margin: auto;
}
.jumbotron-main{
  margin-bottom: 0;
  padding-bottom: 2rem;
}

